.ui-btn {
  font-family: var(--font-body);
  font-size: var(--text-2xl);
  line-height: var(--leading-normal);
  padding: var(--space-2) var(--space-4);
  border-width: 2px;
  border-style: solid;
  border-image: var(--terminal-gradient) 1;
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.ui-btn:hover,
.ui-btn.is-enabled {
  border: 2px solid;
  color: var(--terminal-gradient-hover);
  background: var(--terminal-gradient);
}
