#calculation-steps {
  padding: var(--space-12);
  margin-bottom: var(--space-12);
  border-width: 2px;
  width: 100%;
  border-style: solid;
  border-image: linear-gradient(
      180deg,
      var(--color-primary-300) 0,
      #26d52f00 20%,
      #26d52f00 50%,
      #26d52f00 80%,
      var(--color-primary-300) 100%
    )
    1;
  gap: var(--space-6);
  display: flex;
  flex-direction: column;
}

.calculation-steps__process {
  display: flex;
  width: 100%;
  height: 100%;
  gap: var(--space-6);
}

.calculation-steps__process div {
  flex: 1;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  height: 100%;
}

.calculation-steps__process textarea {
  flex: 1;
  resize: none;
  width: 100%;
  background: transparent;
  border: none;
  padding: var(--space-6);
  color: var(--color-primary);
  font-family: var(--font-terminal);
  font-size: var(--text-xl);
  border-width: 2px;
  cursor: not-allowed;
  border-style: solid;
  border-image: linear-gradient(
      180deg,
      var(--color-primary) 0,
      #26d52f00 20%,
      #26d52f00 50%,
      #26d52f00 80%,
      var(--color-primary) 100%
    )
    1;
}
