#converter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-6);
  position: relative;
  margin-bottom: var(--space-12);
}

.converter-form__container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  gap: var(--space-4);
}

.converter-form__container .ui-input {
  flex: 1;
}

@media (max-width: 768px) {
  #converter-form {
    gap: var(--space-4);
  }
}
