#converter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-6);
  position: relative;
}

.converter-form__container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  gap: var(--space-4);
}

.converter-form__container .ui-input {
  flex: 1;
}

.ui-error {
  position: absolute;
  color: var(--color-primary);
  transform: translate(50%, 50%);
  right: 0;
}
