#converter-output {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-6);
}

.converter-output__container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  gap: var(--space-4);
}

.converter-output__container .ui-input {
  flex: 1;
  cursor: not-allowed;
}
