.ui-input {
  border: 0;
  font-family: var(--font-body);
  font-size: var(--text-3xl);
  line-height: var(--leading-normal);
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 1px solid var(--color-primary);
  padding: var(--space-2) 0;
}

.ui-input::-webkit-outer-spin-button,
.ui-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.ui-input[type='number'] {
  -moz-appearance: textfield;
}

.ui-label {
  font-family: var(--font-body);
  font-size: var(--text-3xl);
  line-height: var(--leading-normal);
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: var(--space-2) 0;
  display: flex;
  align-items: center;
  position: relative;
}

.ui-error {
  position: absolute;
  color: var(--color-error);
  right: 46%;
  bottom: -12%;
  width: 100%;
  text-align: left;
  transform: translate(50%, 50%);
}

@media (max-width: 768px) {
  .ui-input {
    font-size: var(--text-xl);
  }

  .ui-label {
    font-size: var(--text-xl);
  }
}
