.ui-input {
  border: 0;
  font-family: var(--font-body);
  font-size: var(--text-3xl);
  line-height: var(--leading-normal);
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 1px solid var(--color-primary);
  padding: var(--space-2) 0;
}

.ui-input::-webkit-outer-spin-button,
.ui-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-input[type='number'] {
  -moz-appearance: textfield;
}

.ui-label {
  font-family: var(--font-body);
  font-size: var(--text-3xl);
  line-height: var(--leading-normal);
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: var(--space-2) 0;
  display: flex;
  align-items: center;
}
