#settings-panel {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  width: 100%;
  padding: 0 var(--space-12);
}

.settings-panel__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
