@import './base/_reset.css';
@import './base/_variables.css';
@import './base/_typography.css';

@import './layout/wrapper.css';
@import './components/_header.css';
@import './components/_terminal.css';
@import './components/_converter-form.css';
@import './components/_calculation-display.css';
@import './components/_result-display.css';
@import './components/_button.css';
@import './components/_input.css';

body {
  font-family: var(--font-terminal);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  color: var(--color-primary);
  background-image: url('/public/terminal-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1980px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: var(--font-regular);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-wide);
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1 {
  font-size: var(--text-5xl);
}
h2 {
  font-size: var(--text-4xl);
}
h3 {
  font-size: var(--text-3xl);
}

p,
input::placeholder {
  font-family: var(--font-body);
  font-size: var(--text-xl);
  line-height: var(--leading-normal);
  background: var(--terminal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

a:hover {
  opacity: 0.8;
}
